<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>sample page</title>
    {% endif %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="static/css/style_basic.css">
<link rel="shortcut icon" type="image/x-icon"
    href="static/images/favicon2.png">
    </head>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <header id="header" role="banner">
    <div class="container">
    </div>
</header>
  <!--header--></header>
    {% block content %}
    {% endblock %}
    <!--footer id="footer" role="contentinfo"-->

<!--/footer-->
  </body>
</html>
